pkgbase = syn-vault
	pkgdesc = A password-locked folder for your own files: an encrypted vault in userspace
	pkgver = 0.1.0
	pkgrel = 4
	url = https://github.com/velle999/SYNAPSE
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	makedepends = pkgconf
	depends = glibc
	depends = gocryptfs
	depends = fuse3
	optdepends = quickshell: the graphical window (syn-vault gui)
	optdepends = synfiles: opens a vault from the file manager
	source = syn-vault-0.1.0.tar.gz::https://github.com/velle999/SYNAPSE/releases/download/syn-vault-0.1.0-4/syn-vault-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = syn-vault
